{
  "language": "en",
  "admin_username": "admin",

  "mempool_use_https": true,
  "mempool_host": "mempool.space",
  "mempool_rest_port": "443",
  "mempool_ws_port": "443",
  "mempool_ws_path": "/api/v1/ws",
  "mempool_verify_ssl": true,

  "fee_parameter": "fastestFee",

  "live_block_notifications_enabled": false,
  "prioritize_large_scaled_meme": true,
  "color_mode_dark": true,
  
  "e-ink-display-connected": false,
  "omni_device_name": "waveshare_epd.epd7in3f",
  "display_orientation": "vertical",
  "display_width": 800,
  "display_height": 480,

  "show_btc_price_block": false,
  "btc_price_currency": "USD",
  "moscow_time_unit": "hour",

  "show_bitaxe_block": false,
  "bitaxe_miner_table": [],

  "show_wallet_balances_block": false,
  "wallet_balance_unit": "btc",
  "wallet_balance_currency": "EUR"
}