{
  "language": "en",
  "display_orientation": "vertical",
  "prioritize_large_scaled_meme": true,
  "mempool_ip": "192.168.0.119",
  "mempool_rest_port": 4081,
  "mempool_ws_port": 8999,
  "fee_parameter": "fastestFee",
  "display_width": 800,
  "display_height": 480,
  "e-ink-display-connected": false,
  "omni_device_name": "waveshare_epd.epd7in3f",
  "admin_username": "admin",
  "rate_limit_requests": 50,
  "rate_limit_window": 300,
  "show_btc_price_block": true,
  "btc_price_currency": "USD",
  "show_bitaxe_block": true,
  "bitaxe_miner_ips": "",
  "show_wallet_balances_block": true,
  "wallet_balance_unit": "btc",
  "wallet_balance_show_fiat": true,
  "xpub_derivation_count": 20,
  "xpub_enable_gap_limit": true,
  "xpub_gap_limit_last_n": 20,
  "xpub_gap_limit_increment": 20,
  "xpub_enable_bootstrap_search": true,
  "xpub_bootstrap_max_addresses": 200,
  "xpub_bootstrap_increment": 20,
  "color_mode_dark": true,
  "font_regular": "fonts/Roboto-Regular.ttf",
  "font_bold": "fonts/Roboto-Bold.ttf",
  "session_timeout": 172800,
  "backup_duration_minutes": 45,
  "block_height_area": 180,
  "moscow_time_unit": "hour"
}